body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(180, 152, 189, 0.52);
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(98, 15, 78);
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    color: rgb(98, 15, 78);
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}



.checkout-btn {
    display: block;
    width: 100%;
    background-color: rgb(98, 15, 78);
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: rgb(63, 10, 51);
}

.checkout-section {
    margin-bottom: 20px;
}

label.radio-label {
    margin-right: 15px;
}

.back-to-home {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    background-color: rgb(98, 15, 78);
    width: 10%;
    padding:10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;

}


.navbar {
    background-color: rgb(98, 15, 78);
    color: #ffffff;
    padding: 10px 0;
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
}

  select {
    padding: 5px 10px;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
    color: rgb(98, 15, 78);
    width: 100px;
}

  .page-links a:hover {
    background-color: rgb(63, 10, 51);
    color: #ffffff;
  }
  .search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.search-form button {
    background-color: rgb(63, 10, 51);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}