/* profile.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.messages {
    text-align: center;
    margin-bottom: 20px;
}

.messages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.messages li {
    color: #007BFF;
    font-size: 16px;
}

.profile-card {
    text-align: center;
}

.profile-avatar {
    margin-top: 20px;
}

.icon-blue {
    color: #007BFF;
}

.profile-heading {
    margin-top: 10px;
    font-size: 24px;
}

.profile-info {
    margin: 10px 0;
    text-align: left;
}


.signout-button {
    margin-top: 20px;
}

.btn-signout {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.btn-signout:hover {
    background-color: #045ab6;
}
