<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sleek Boutique!</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div style="background-color: #f8f8f8; padding: 20px;">
        <div style="background-color: white; max-width: 600px; margin: 0 auto; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            <h1 style="color: rgb(98, 15, 78); text-align: center;">Welcome to Our Online Store!</h1>
            <p>Hello {{ user.user.first_name }},</p>
            <p>Thank you for signing up with us. We're excited to have you on board!</p>
            <p>Explore our wide range of products and start shopping today.</p>
            <p>Feel free to reach out to our support team if you have any questions or need assistance.</p>
            <p>Happy shopping!</p>
        </div>
    </div>
</body>
</html>
