{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">
    <title>Product Detail</title>
</head>
<body>
    <div class="product-detail">
        <h2>{{ product.name }}</h2>
        {% for image_url in image_urls %}
        <img src="{{ image_url|safe }}" alt="{{ product.name }}">
        {% endfor %}
        <p><strong>Price: </strong>{{ product.price }} {{ product.currency }}</p>
        <p><strong>Description: </strong></p>
        <ul>
            {% for point in description %}
                <li>{{ point }}</li>
            {% endfor %}
        </ul>
        <p><strong>Care: </strong>{{ product.care }}</p>
        <p><strong>Brand: </strong>{{ product.brand }}</p>
    </div>
</body>
</html>