{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
    <title>Checkout</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-content">
            <a class="logo" href="{% url 'ecommerce:listings' %}">Sleek  Boutique</a>
            <ul class="nav-links">
                <li><a href="{% url 'ecommerce:listings' %}">Our Products</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account:profile' %}">Profile</a></li>
                <li><a href="{% url 'ecommerce:cart' %}"><i class="fa fa-shopping-cart"></i></a></li>
                <li><a href="{% url 'account:signout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account:signup' %}">Sign Up</a></li>
                <li><a href="{% url 'account:signin' %}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <h1>Checkout</h1>

    <form method="post">
        {% csrf_token %}
        
        <div class="checkout-section">
            <h2>Shipping Information</h2>
            {{ form.shipping_address }}
        </div>
        <div class="checkout-section">
            <h2>Contact Number</h2>
            {{ form.contact_info }}<br>
           {{form.contact_info.help_text}}
        </div>

        <div class="checkout-section">
            <h2>Payment Method</h2>
            {{ form.payment_method }}
        </div>
        <div class="checkout-section">
            <h2>Order Summary</h2>
            <p>Total Price: <strong>{{ total_price|floatformat:2 }} {{ cart_items.0.product.currency }}</strong></p>
        </div>
        <input type="hidden" name="selected_items" value="{{ selected_item_ids|join:',' }}">
        <button type="submit" class="checkout-btn">Place Order</button>
    </form>

</body>
</html>