{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">
    <script type="text/javascript" src="{% static 'ecommerce/product_detail.js' %}"></script>
    <title>Product Detail</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-content">
            <a class="logo" href="{% url 'ecommerce:listings' %}">Sleek  Boutique</a>
            <ul class="nav-links">
                <li><a href="{% url 'ecommerce:listings' %}">Our Products</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account:profile' %}">Profile</a></li>
                <li><a href="{% url 'ecommerce:cart' %}"><i class="fa fa-shopping-cart"></i></a></li>
                <li><a href="{% url 'account:signout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account:signup' %}">Sign Up</a></li>
                <li><a href="{% url 'account:signin' %}">Sign In</a></li>
                {% endif %}
            </ul>
            <form class="search-form" action="{% url 'ecommerce:search' %}" method="GET">
                <input type="text" name="query" placeholder="Search products">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="product-detail">
        <h2>{{ product.name }}</h2>
        <div class="categories">{% for point in categories %}
                > {{ point }}
            {% endfor %}
        </div>
        <div class="product-images">
        {% for image_url in image_urls %}
        <img src="{{ image_url|safe }}" alt="{{ product.name }}">
        {% endfor %}
        </div>
        <p><strong>Brand: </strong>{{ product.brand }}</p>
        <p><strong>Price: </strong>{{ product.price }} {{ product.currency }}</p>
        <p><strong>Description: </strong></p>
        <ul>
            {% for point in descriptions %}
                <li>{{ point }}</li>
            {% endfor %}
            <li>For {{ product.gender }}</li>
        </ul>
        <p><strong>Care: </strong></p>
        <ul>
            {% for point in cares %}
                <li>{{ point }}</li>
            {% endfor %}
        </ul>
        <div class="size-and-cart-container">
            <div>
            <strong>Select Size: </strong>
            <select class="size-options" id="size-{{ product.retailer_sku }}">
                {% for sku in skus %}
                    <option value="{{ sku.size }}">{{ sku.size }}</option>
                {% endfor %}
            </select>
            </div>
        <div>
            <a class="add-to-cart-link" href="{% url 'ecommerce:add_to_cart' product_id=product.retailer_sku size='default' %}">Add to cart</a>
        </div>
    </div>
        <table>
            <thead>
                <tr>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for sku in skus %}
                    <tr>
                        <td>{{ sku.color }}</td>
                        <td>{{ sku.size }}</td>
                        <td>{{ sku.price }} {{ sku.currency }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       
    </div>
    
    
    
</body>
  
</html>